body{
    background-color: rgb(240, 240, 240);
}

#containerLogoText{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/code-background.jpg");
}

#infoCards{
    width: 50vw;
    text-align: center;
}

#cards{
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    flex-wrap: wrap;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#card-img-container{
    display: inline-block;
    overflow: hidden;
}
#card-img-container > img{
    display: block;
    transition: all .45s;
}
#card-img-container > img:hover{
    transform: scale(1.15);
}

.card-body-height{
    height: 150px;
}

.fs-13px{
    font-size: 13px;
}

.container-card-buttons{
    height: 70px;
}

.card-button{
    height: 38px;
}

#fotoPersonal{
    --s: 250px;   /* tamaño de la imagen */
    --b: 8px;     /* el grueso del borde */
    --g: 5px;    /* distancia del borde de la imagen en hover */
    --c: rgb(255, 194, 61); /* color del borde en hover */
  
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid rgba(0, 0, 0, 0.171);
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
}

#fotoPersonal:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}