body{
    background-color: rgb(240, 240, 240);
}

#containerLogoText{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/code-background.jpg");
}

#infoCards{
    width: 50vw;
    text-align: center;
}

#cards{
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    flex-wrap: wrap;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.card-body-height{
    height: 150px;
}

.fs-13px{
    font-size: 13px;
}

.container-card-buttons{
    height: 70px;
}

.card-button{
    height: 38px;
}