body{
    background-color: rgb(184, 184, 184);
    font-family: sans-serif;
}

.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borde-suave{
    border-radius: 8px;
}

.mt-31{
    margin-top: 31vh;
}

.mt{
    margin-top: 2vh;
}

#imgBatman{
    width: 350px;
    border-radius: 25px;
}

#botonToggle{
    padding: 15px;
    position: fixed;
    top: 50vh;
    left: 48vw;
    transform: rotateY(45deg);
}

#botonToggle:hover{
    cursor: pointer;
}